name: Create Mod Release
# Loosely based on: https://github.com/morerokk/PD2AutoUpdateExample
on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        description: Tag to use for this release. Also used for release title.
        required: true
      description:
        type: string
        description: Description for this release. Should include a changelog.
        required: true
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Workflow Information
      run: |
        echo "tag: ${{ inputs.tag }}"
        echo "description: ${{ inputs.description }}"

    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Create Mod Archive
      run: .\.github\7za.exe -tzip a ".\chat-history-memorizer.zip" ".\mod"
      shell: powershell
    
    - name: Create Meta.json
      env:
        changelog_url: ${{ github.server_url }}/${{ github.repository }}/releases/tag/${{ inputs.tag }}
        dl_url: ${{ github.server_url }}/${{ github.repository }}/releases/${{ inputs.tag }}/download/chat-history-memorizer.zip
      run: $(cat .\.github\meta.json).Replace("%HASH%", $(./.github/hash.exe "./mod").Substring(17)).Replace("%CHANGELOG%", ${{ env.changelog_url }}).Replace("%DOWNLOAD%", ${{ env.dl_url }}) > ./meta.json

    - name: Create New Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ inputs.tag }}
        name: ${{ inputs.tag }}
        body: ${{ inputs.description }}
        generate_release_notes: true
        files: |
          chat-history-memorizer.zip
          meta.json